*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   /* background-color: rgb(238, 238, 42);*/
    display: flex;
    justify-content: space-around;

}

.logo{
    width: 7rem;
}

body{
    background-image: url(assets/BACK.jpg);
    background-size: cover;
    background-position: center;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.nav{
    display: flex;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: white;
}
.subtop{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.cont{
    border:solid black;
    border-radius: 1.2rem;
    padding: .5rem;
    background-color: blue;
}
hr{
    margin: 1rem;
    border: solid 2px black;
}
.all-cities{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.cities{
    
    background-color: white;
    border-radius: 1rem;
    height: 14rem;
    width: 16rem;
}
.city{
    padding-top: .5rem;
    padding-left: .5rem;
    font-size: 30px;
    height: 20%;
    width: 100%;
    color: blue;
}
.img-cities{
height: 80%;
width: 100%
}
.img-cities img{  /*DARLES PROPIEDAS A LA IMAGEN SIN QUE SE COPIE LAS PROPIEDADES DEL CONTENEDOR EN LA QUE ESTA*/
    width: 100%;
    height: 100%;
    border-radius: 0 0 1rem 1rem ;
}
footer{
    background-color: rgb(238, 238, 42);
    background-size: cover;
    background-position: center;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.img-footer{
    width: 3rem;
height: 3rem;
}
input{
    border-radius: 1rem;
}

select{
    border-radius: 1rem;
}